.dumbo-upload {
  border: 1 solid;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  &--item {
    border: 1px dashed #e1e1e1;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .dumbo-upload--add {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
