.dumbo-alert {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 4px;
}

.dumbo-alert--success {
  background: #b7eb8f;
  color: #c98e00;
}

.dumbo-alert--info {
  background: #91d5ff;
  color: #1c87c9;
}

.dumbo-alert--warning {
  background: #ffe58f;
  color: #dbab0c;
}

.dumbo-alert--error {
  background: #ffccc7;
  color: #ed2713;
}

.dumbo-alert--message {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-all;
}
